*{padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #782d66;
}

.container{
    
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-auto-columns: 250px;
    grid-auto-rows: 250px;
    grid-auto-flow: row;
    margin: 100px;
    gap: 20px;
    background-color: purple;
}

.celdita{
    
    background-color: #02c5e3;
    color: white;
    text-align: center;
    padding: 25px;
      
    
}
.celdita:nth-of-type(1) {
    border-radius: 16px;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color:#349989;
    
}

.celdita:nth-of-type(2) {
    border-radius: 16px;
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    background-color: #4dacc2;
    
}

.celdita:nth-of-type(3){
    border-radius: 16px;
    grid-column: 3 / 5;
    grid-row: 2 / 4;
    background-color: #a95952;
}

.celdita:nth-of-type(4){
    border-radius: 16px;
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    background-color: #355e68;
}

.celdita:nth-of-type(5){
    border-radius: 16px;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: #c15ca0;
}

.celdita:nth-of-type(6){
    border-radius: 16px;
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    background-color: #716664;
}